.results-container {
    margin-top: 100px;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    padding: 24px;
 }

#year-input{
width: 50%;
}

.navbar{
    background-color: pink; 
}

.navbar-item{
    color: white; 
    font-weight: bold; 
} 