.index-container {
    margin-left: 80px;
}

.results-container {
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
}

#year-input{
width: 70%;
}

.navbar{
    background: rgb(170,1,1);
    background: linear-gradient(23deg, rgba(170,1,1,1) 0%, rgba(250,98,184,1) 100%); 
}

.navbar-item{
    color: white; 
    font-weight: bold; 
} 

li {
    padding-top: 10px;
}

.btns {
    padding-top: 30px;
}

a.navbar-item:hover {
    color:pink;
}


